@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  @apply rounded-2xl border-[2px] border-pink dark:border-purple px-4 p-1 w-full md:w-[80%] lg:w-[60%] placeholder:text-black/50 dark:placeholder:text-white/50 text-black dark:text-white bg-white dark:bg-black
}


.element::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  background: inherit;
  filter: blur(1px);
  backdrop-filter: blur(20px);
  z-index: -1;
}

.elemento::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background: inherit;
  filter: blur(1px);
  backdrop-filter: blur(20px);
  z-index: -1;
}

/* Barra de desplazamiento */
/* Estilo para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #7047A2, #CF30C5); /* Gradiente de colores */
  border-radius: 6px; /* Borde redondeado de la barra de desplazamiento */
}

/* Estilo para la pista (track) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: transparent; /* Fallback a blanco si la variable no está definida */
}

/* Estilo para los botones de flecha (flechas de desplazamiento) */
::-webkit-scrollbar-button {
  display: none; /* Ocultar los botones de flecha */
}

/* switch */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CF30C5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 20px;
  z-index: 2;
  background-color: white;
  transition: .4s;
}

.sun svg {
  fill: white;
  position: absolute;
  top: 5px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 22px;
  height: 22px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #7047A2;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #7047A2;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

@media screen and (max-width: 1024px) {
  .sun svg {
    
  top: 2px;
  left: 25px;
  width: 17px;
  height: 17px;
  }

  .moon svg {
    top: 2px;
  left: 2px;
  width: 17px;
  height: 17px;
  }

  .input:checked + .slider:before {
    transform: translateX(25px);
  }

  ::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
  }
  
}

/* change language */
.arrow-container {
  display: flex;
  align-items: center;
  gap: .2rem;
  cursor: pointer;
}

.arrow-up,
.arrow-down {
  transition: transform 0.3s ease-in-out;
}

.up {
  transform: translateY(-8px);
}

.down {
  transform: translateY(8px);
}
